@*@ViewBag.RandomNumber

    @using System.Collections.Generic
    @model List<String>

    @foreach(var name in Model)
                {
            <h1> @name </h1>
                }

  @model int
*@

@model ModelViewControl.Models.Class1


<h1> @Model.Id </h1>

<h1> @Model.FirstName </h1>

<h1> @Model.LastName </h1>

<h1> @Model.Age </h1>

<h1> @Model </h1>

