@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body>
  <!-- Single statement block -->
  @{ var myMessage = "Regards World, Challenge Submission tech academy"; }

  <!-- Inline expression or variable -->
  <p>The value of myMessage is: @myMessage</p>

  <!-- Multi-statement block -->
  @{
var greeting = "Welcome to our site!";
var weekDay = DateTime.Now;
var greetingMessage = greeting + " Here in Mexico it is: " + weekDay;
  }

  <p>The greeting is: @greetingMessage</p>
</body>
</html>