
@using TechAcadStudentsMVC.Models
@model List<Instructor>

@{ 
    ViewBag.Title = "Instructores";

}

<h2>Instructor</h2>

@{ 
    foreach(Instructor instructor in Model)
    {
        <h4> @instructor.FirstName</h4>
  }
  }
